@model IEnumerable<Prj_Infraestructure.Models.RI_Users>

@{
    ViewBag.Title = "list";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
    int role = ViewBag.Role;
}



<div class="row" id="cancel-row">
    <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing pb-0">
        @if (role == 1 || role == 3)
        {
            <a style="background-color: #40B492; margin-top: 20px;" class="btn mb-2 mr-2 bs-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Nuevo" href="/Users/Create"><i class="fas fa-plus-circle fa-2x" style="color:black"></i></a>
        }
    </div>
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="table-responsive mb-4 mt-4">
                    <table id="zero-config" class="table table-hover table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nombre y Apellidos</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Estatus</th>
                                <th class="no-content"> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@(item.Name + " " + item.Surname)</td>
                                    <td>@(item.UserName) </td>
                                    <td>@(item.Email) </td>
                                    @if (item.Role == 1)
                                    {
                                        <td>Administrador</td>
                                    }
                                    else
                                    {
                                        <td>Usuario</td>
                                    }
                                    @if (item.Status == 1)
                                    {
                                        <td>Activo</td>
                                    }
                                    else
                                    {
                                        <td>Inactivo</td>
                                    }

                                    <td class="text-center">
                                        <div class="action-btns">
                                            <a href="@Url.Action("Edit","Users", new {id = item.ID } )" class="action-btn btn-edit bs-tooltip me-2" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                            </a>
                                            <a href="@Url.Action("Users","Delete", new {id = item.ID } )" class="action-btn btn-delete bs-tooltip" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                            </a>
                                        </div>
                                    </td>

                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
@section Scripts {
    @Scripts.Render("~/bundles/toastjs")
    @Scripts.Render("~/bundles/jqueryui")

    <script>
        $(document).ready(function () {         
          
            var tabla = $('#zero-config').DataTable();          

          
        });


    </script>

}